<div class="card-panel white">

  <table id="table-top-atrasadas" class="responsive-table bordered">
    <thead>
      <tr>
        <th data-field="id">Top 5 prevenções atrasadas</th>
      </tr>
    </thead>

    <tbody ng-if="!loader" >
      <tr ng-repeat="(key, prevencao) in prevencoes | orderBy:'-atrasada'">
        <td><span class="index" ng-bind="key + 1"></span> {{prevencao.descricao}}</td>
        <td><div class="center-align">% {{prevencao.atrasada}}</div>
          <div class="progress center-align">
            <div class="determinate " style="width: {{prevencao.atrasada}}%"></div>
          </div></td>
      </tr>
    </tbody>
  </table>

  <div ng-if="loader" class="row" id="indiceAtrasadasLoader">
    <div class="col s6 offset-s5 ">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
