<h5>Índice mensal</h5>
<div class="row">
  <div class="col s12 m12">
    <div class="card-panel white ">

      <div class="row">

        <div class="input-field col s6 right-align">
          <select id="menuFocosMensal"
            ng-options="foco.codigo as foco.nome for foco in attrs.focos track by foco.codigo"
            ng-model="attrs.fields.focoId" ng-change="methods.showMensalChart(foco.codigo)">
          </select>
          <label for="menuFocosMensal">Focos</label>
        </div>
        <div class="input-field col s6 left-align">
          <input id="localidadeFilter" type="text" ng-autocomplete options="options" class="validate" ng-model="localidade">
        </div>
      </div>


      <div class="row">
        <div ng-if="!loader" class="col s12 m12">
          <div google-chart="Bar" google-package="charts" ng-model="dataModel"></div>
        </div>
      </div>

      <div ng-if="loader" class="row" id="indiceMensalLoader">
        <div class="col s6 offset-s5 ">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
