<h5>Índice regional</h5>
<div class="row">
  <div class="col s12 m12">
    <div class="card-panel white">
      <div class="row">
        <div class="col s12">
          <div class="horizontal_link_menu right-align">
            <p ng-bind="attrs.teste"></p>
            <span class="horizontal_link_menu_first"> <a href="" ng-click="methods.showRegiaoChart()" class="disabledAnchor">Região</a>
            </span> <span class="horizontal_link_menu_item"> <a href="" ng-click="methods.showCityChart()">Cidade</a>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div ng-if="loader" class="col s8 offset-s5">
          <div id="loader">
            <!-- MDL Spinner Component -->
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!loader" class="col s12 m8">
          <div google-chart="GeoChart" google-package="visualization" ng-model="dataModel"></div>
        </div>
        <div ng-if="!regionalCtrl.attrs.showLoader" class="col s12 m4 right">
          <table id="cidadesAfetadasContainer" class="responsive-table bordered">
            <thead>
              <tr>
                <th data-field="id">Cidades mais afestas</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><span class="index">1</span>Santos</td>
                <td><div>%0.87</div>
                  <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                  </div></td>
              </tr>
              <tr>
                <td><span class="index">2</span>São Vicente</td>
                <td>%3.76</td>
              </tr>
              <tr>
                <td><span class="index">3</span>Mongaguá</td>
                <td>%3.76</td>
              </tr>
              <tr>
                <td><span class="index">4</span>Cubatão</td>
                <td>%0.87</td>
              </tr>
              <tr>
                <td><span class="index">5</span>Peruíbe</td>
                <td>%3.76</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
