<!-- <nav style="box-shadow: none !important"> -->
<nav>
  <div class="nav-wrapper blue darken-1">

    <a href="#" class="brand-logo" ng-bind="vm.appName"></a>
    <ul class="right hide-on-med-and-down">
      <li ng-repeat="aba in vm.abas" ng-class="{'active' : vm.checkActiveState(aba)}"><a ui-sref="{{aba.sref}}" ng-bind="aba.name"></a></li>
    </ul>

    <!-- MOBILE NAVBAR ICON -->
    <a ng-if="vm.mobileFirst" href="#" data-activates="mobile-menu" class="button-collapse top-nav full hide-on-large-only">
      <!-- <i class="material-icons">menu</i> -->
      <i class="mdi-navigation-menu color-white"></i>
    </a>

    <!-- MOBILE NAVBAR ITENS -->
    <ul ng-if="vm.mobileFirst" class="side-nav" id="mobile-menu">
      <li ng-repeat="aba in vm.abas" ng-class="{'active' : vm.checkActiveState(aba)}"><a ui-sref="{{aba.sref}}" ng-bind="aba.name"></a></li>
    </ul>
  </div>
</nav>


